.footer {
    background-color: var(--surface-b);
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    width: 100%;
    position: fixed;
    text-align: center;
}

.footer-item {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.footer-link {
    color: #fff;
}

.footer-link:hover {
    color: rgba(255, 255, 255, 0.596);
}

.footer-list {
    height: 100%;
    display: contents;
}
