@import '../../../assets/theme/mytheme/variables';

.footer {
    margin-top: 10px;
    background-color: $primaryColor;
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0;
    flex-shrink: 0;
}

.footer-item {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.footer-link {
    color: $textColor;
}

.footer-link:hover {
    color: $textSecondaryColor;
}

.footer-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
