.log-message.log-error {
    color: crimson;
}

.content {
    max-height: 25vh;
    overflow-y: auto;
}

.console {
    height: 30vh;
    background-color: black;
    padding: 10px;
}

.log-message {
    background-color: black;
    color: white;
}

.log-error {
    background-color: black;
    color: red;
}
