.panel-options {
    display: none;
    height: 30vh;
    overflow-y: auto;

    & {
        .p-toggleable-content {
            display: none;
        }
        .panel-options-tabpanel {
            display: block;
        }
    }

    &.panel-opened {
        display: block;
    }
}

.height-0px {
    height: 0px;
}

.panel-options-button {
    top: 5px;
    font-size: small !important;
    padding: 0px !important;
}


.header-light-color > .p-panel-header {
    background-color: #bbf7cd !important;
    color: black !important;
}

.button-light-color {
    background-color: #bbf7cd !important;
    color: black !important;
}