.panel-options {
    display: none;
    height: 30vh;
    overflow-y: auto;

    & {
        .p-toggleable-content {
            display: none;
        }
        .panel-options-tabpanel {
            display: block;
        }
    }

    &.panel-opened {
        display: block;
    }
}

center {
    height: 0px;
}

.panel-options-button {
    position: absolute;
    top: 10px;
    font-size: small !important;
    border-radius: 30px !important;
    text-align: center !important;
    padding: 4px !important;
}
